.main {
  margin-top: 12rem;
  padding: 0 10rem;
}

.match {
  position: relative;
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: 30rem auto;
  width: 100%;

  &.active {
    z-index: 2;
  }
}

.infoWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  text-align: center;
}

.infoTitle {
  font-weight: 700;
  font-size: 4rem;
}

.score {
  font-weight: 700;
  font-size: 8rem;
}

.date {
  font-size: 3.4rem;
  color: var(--gray);
}

.number {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4.6rem;
  height: 3.4rem;
  padding-top: .4rem;
  border-radius: .4rem;
  background-color: var(--red-2);
  color: var(--text-primary);
}

.team {
  display: flex;
  justify-content: space-around;
  row-gap: 2rem;
  column-gap: 4rem;
  width: 100%;
  margin-top: 6rem;
  margin-bottom: 6rem;
  font-size: 2.4rem;

  > * {
    display: flex;
    flex-direction: column;
    gap: .4rem;
    width: 35%;
  }
}

.teamHeader {
  display: grid;
  grid-template-columns: 5rem 1fr 4rem 4rem;
  gap: 1rem;
  padding: 0 1rem;

  > *:not(:nth-child(2)) {
    text-align: center;
  }
}

.teamItem {
  display: grid;
  grid-template-columns: 5rem 1fr 4rem 4rem;
  align-items: center;
  gap: 1rem;
  padding: 1rem 1rem;
  border-radius: .8rem;

  &:nth-child(even) {
    backdrop-filter: blur(10px) brightness(1.6);
    background-color: rgba(255,255,255,.1);
  }
}

.name {
  transform: translateY(.2rem);
  font-weight: 700;
}

.stats {
  text-align: center;
}

.mobileSelect {
  display: none;
}

@media (max-width: 48em) {
  .main {
    margin-top: 16rem;
    margin-bottom: 10rem;
    padding: 0 4rem;
  }

  .match {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: normal;
    gap: 4rem;

    &.active {
      z-index: 2;
    }

    > *:first-child {
      order: 3;
    }

    > *:last-child {
      order: 5;
      align-self: flex-end;
    }
  }

  .infoWrapper {
    display: contents;
  }

  .infoTitle {
    order: 1;
    font-size: 6rem;
  }

  .score {
    order: 4;
    font-size: 10rem;
  }

  .date {
    order: 2;
    margin-bottom: 2rem;
    font-size: 5rem;
  }

  .number {
    width: 7rem;
    height: 5.4rem;
    padding-top: .4rem;
    border-radius: .8rem;
  }

  .mobileSelect {
    display: block;
    margin: 6rem 0 4rem;
  }

  .team {
    display: block;
    width: 100%;
    font-size: 3.6rem;
    margin-top: 2rem;

    > * {
      gap: .8rem;
      width: 100%;

      &:not(.active) {
        display: none;
      }
    }
  }

  .teamHeader {
    grid-template-columns: 7.6rem 1fr 6rem 6rem;
    gap: 1.2rem;
    font-size: 3.6rem;
  }

  .teamItem {
    display: grid;
    grid-template-columns: 7.6rem 1fr 6rem 6rem;
    gap: 1.2rem;
    border-radius: .8rem;

    &:nth-child(even) {
      backdrop-filter: blur(5px) brightness(1.6);
      background-color: rgba(255,255,255,.05);
    }
  }

  .award {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100% + 4rem);
    margin: 8rem -2rem 0;
    padding: 3rem 2rem;
    border-radius: 2rem;
    border-top: 1px solid var(--border-primary);
    border-bottom: 1px solid var(--border-primary);
    backdrop-filter: blur(10px) brightness(1.5);
  }

  .awardTitle {
    margin-bottom: 3rem;
    font-size: 5rem;
    text-align: center;
  }

  .awardPlayer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-size: 3.4rem;

    > img {
      flex: none;
      width: 12rem;
      height: 12rem;
      object-fit: contain;
      border-radius: 1rem;
      border-top: 1px solid var(--border-primary);
      border-bottom: 1px solid var(--border-primary);
    }
  }

  .awardText {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-weight: 700;
  }
}