.season {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 0 4rem;
  margin: 8rem 0 4rem;
  font-size: 3.4rem;
}

.tabs {
  margin-bottom: 4rem;
}

@media (max-width: 48em) {
  .season {
    margin: 16rem 0 6rem;
    font-size: 4rem;
  }

  .tabs {
    margin-bottom: 4rem;
  }
}