.main {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  //margin: 15rem auto;
  overflow: hidden;
}

.infoBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  text-align: center;
}

.infoTitle {
  font-size: 3rem;
  text-transform: uppercase;
  padding: 1.5rem 2rem;
  border-radius: .6rem;
  background: var(--red);
  color: var(--text-primary);
}

.timer {
  width: 40rem;
  padding: 1.5rem 0;
  margin: 6rem 0;
  background: var(--bg-secondary-4);
  font-size: 4rem;
  color: var(--foreground);
  backdrop-filter: blur(2px);
}

.date {
  font-size: 3rem;
  color: var(--text-secondary);
}

.time {
  font-size: 3rem;
  text-transform: uppercase;
  padding: 1.5rem 5rem;
  border-radius: .6rem;
  background: var(--red);
  color: var(--text-primary);
}

@keyframes dima1 {
  0% {
    visibility: visible;
  }
  28% {
    visibility: hidden;
  }
  100% {
    visibility: hidden;
  }
}

@keyframes dima2 {
  0% {
    visibility: hidden;
  }
  28% {
    visibility: hidden;
    transform: translateX(0);
  }
  30% {
    visibility: visible;
    transform: translateX(0);
  }
  33% {
    visibility: visible;
    transform: translateX(-40vw) rotate(20deg);
  }
  100% {
    visibility: visible;
    transform: translateX(-40vw) rotate(20deg);
  }
}

@keyframes shifu1 {
  0% {
    visibility: visible;
  }
  20% {
    visibility: hidden;
  }
  100% {
    visibility: hidden;
  }
}

@keyframes shifu2 {
  0% {
    visibility: hidden;
  }
  20% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}

@keyframes nad {
  0% {
    transform: translate(0, 0) rotate(0) scale(1);
  }
  32% {
    transform: translate(0, 0) rotate(0) scale(1);
  }
  60% {
    transform: translate(-40vw, -15vh) rotate(-1800deg) scale(0);
  }
  100% {
    transform: translate(-40vw, -15vh) rotate(-1800deg) scale(0);
  }
}

.animate {
  position: relative;
  width: 30vw;
  aspect-ratio: 10 / 7;

  > * {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;

    &:nth-child(1) {
      left: 75%;
      top: 10%;
      width: 20rem;
      height: 40rem;
      animation: dima1 10s linear infinite;
    }

    &:nth-child(2) {
      left: 75%;
      top: 0;
      width: 28rem;
      height: 46rem;
      animation: dima2 10s linear infinite;
    }

    &:nth-child(3) {
      left: 60%;
      top: 50%;
      width: 17rem;
      height: 20rem;
      animation: shifu1 10s linear infinite;
    }

    &:nth-child(4) {
      left: 60%;
      top: 50%;
      width: 17rem;
      height: 20rem;
      animation: shifu2 10s linear infinite;
    }

    &:nth-child(5) {
      left: 15%;
      top: 11%;
      width: 25rem;
      height: 40rem;
      animation: nad 10s linear infinite;
    }
  }

  > *:first-child {
    //animation: anim1 1.4s linear infinite;
  }

  > *:last-child {
    //animation: anim2 1.4s linear infinite;
  }
}

@media (max-width: 48em) {
  .main {
    flex-direction: column;
    gap: 6rem;
    margin-bottom: -15rem;
  }

  .infoBox {
    gap: 2rem;
  }

  .infoTitle {
    font-size: 4rem;
    padding: 2rem 3rem;
    border-radius: 1rem;
  }

  .timer {
    width: 60rem;
    padding: 2rem 0;
    margin: 4rem 0;
    font-size: 6rem;
  }

  .date {
    font-size: 4.4rem;
  }

  .time {
    font-size: 4.4rem;
    padding: 1.6rem 6.4rem;
    border-radius: 1rem;
  }

  .animate {
    width: 100vw;
  }
}