.main {
  margin-top: 6rem;
}

.backLink {
  margin-left: 30rem;
  margin-top: 1rem;
}

@media (max-width: 48em) {
  .main {
    margin-top: 12rem;
  }

  .backLink {
    margin-top: 0;
    margin-left: 4rem;
  }
}