.main {
  position: relative;
}

.avatar {
  > img {
    width: 7rem;
    height: 7rem;
    border: 2px solid var(--brand);
    border-radius: 100%;
    object-fit: cover;
  }

  &:hover + .awardInfo, &:focus + .awardInfo, &:active + .awardInfo {
    opacity: 1;
    visibility: visible;
  }
}

.list {
  position: absolute;
  right: -2rem;
  z-index: 10;
  top: calc(100% + 2rem);
  display: flex;
  flex-direction: column;
  width: max-content;
  text-align: right;
  border-radius: 1rem;
  border-top: 1px solid var(--border-primary);
  border-bottom: 1px solid var(--border-primary);
  backdrop-filter: blur(5px) brightness(1.5);
  background-color: rgba(0, 0, 0, .7);
  font-size: 3.4rem;
  opacity: 0;
  visibility: hidden;
  transition: opacity .15s ease-in-out;

  &.active {
    opacity: 1;
    visibility: visible;
  }
}

.item {
  padding: 2.4rem 3.4rem;

  &:not(:last-child) {
    border-bottom: 1px solid var(--border-primary);
  }
}