.button {
  width: fit-content;
  margin-left: auto;
  text-align: center;
  margin-bottom: -4rem;
}

.notAuth {
  padding: 1rem;
  border-radius: 1rem;
  border-top: 1px solid var(--border-primary);
  border-bottom: 1px solid var(--border-primary);
  backdrop-filter: blur(10px) brightness(1.6);
  background-color: rgba(255, 255, 255, .05);
  font-size: 2.4rem;
  text-align: center;
}

.notUsername {
  display: flex;
  justify-content: center;
  gap: 3rem;

  button {
    height: fit-content;
    margin-left: 0;
    margin-bottom: 0;
  }

  p {
    width: fit-content;
    padding: 1rem;
    border-radius: 1rem;
    border-top: 1px solid var(--border-primary);
    border-bottom: 1px solid var(--border-primary);
    backdrop-filter: blur(10px) brightness(1.6);
    background-color: rgba(255, 255, 255, .05);
    font-size: 2rem;
    text-align: center;
  }
}

@media (max-width: 48em) {
  .notAuth {
    padding: 2rem;
    border-radius: 1.6rem;
    backdrop-filter: blur(5px) brightness(1.6);
    font-size: 3.6rem;
  }

  .notUsername {
    flex-direction: column;
    align-items: flex-end;
    gap: 1rem;

    p {
      padding: 1.6rem;
      border-radius: 1.6rem;
      backdrop-filter: blur(5px) brightness(1.6);
      font-size: 3rem;
    }
  }
}