.main {
  display: flex;
  align-items: center;
  gap: 2rem;
  width: fit-content;
  font-size: 3rem;
  padding: 1rem 2rem;
  border-radius: 1rem;
  border-top: 1px solid var(--border-primary);
  border-bottom: 1px solid var(--border-primary);

  > svg {
    width: 4rem;
  }
}