.imageBox {
  padding: 1rem 5rem;
}

.imageUpload {
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1 / 1;
  border: 1px gray solid;
  border-radius: .5rem;
  opacity: .4;
  cursor: pointer;
  --imageColor: gray;
  transition: border-color .2s ease, opacity .2s ease;
  overflow: hidden;

  > input {
    display: none;
  }

  &:hover {
    opacity: .6 !important;
    border-color: var(--mantine-color-blue-outline);
    --imageColor: var(--mantine-color-blue-outline);
  }

  svg {
    transition: stroke .2s ease;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &.active {
    opacity: 1;
    border: none;
  }
}

.team {
  > * {
    align-items: center;
  }
}

.teamLabel {
  display: flex;
  flex-direction: column;
  gap: .4rem;
}

.teamItem {
  display: flex;
  gap: 1rem;

  > * {
    margin: 0 !important;
  }
}

@media (max-width: 768px) {
  .imageUpload {
    aspect-ratio: auto;
    height: 10rem;

    img {
      width: auto;
      height: 100%;
      margin-right: auto;
      aspect-ratio: 1 / 1;
      border-radius: inherit;
    }
  }
}