.table {
  position: relative;
  height: 100%;
  overflow: auto;

  thead {
    &:before {
      content: '';
      position: absolute;
      left: 0;
      bottom: 100%;
      width: 100%;
      height: 20rem;
      background-color: white;
    }
  }

  tr > *:first-child {
    position: sticky;
    left: 0;
    background-color: inherit;

    &:before {
      content: '';
      position: absolute;
      left: -1px;
      top: 0;
      z-index: -2;
      width: calc(100% + 2px);
      height: 100%;
      background-color: white;
    }

    &:after {
      content: '';
      position: absolute;
      left: -1px;
      top: 0;
      z-index: -1;
      width: calc(100% + 2px);
      height: 100%;
      background-color: inherit;
    }
  }
}

@media (max-width: 48em) {
  .table {
    position: relative;
    height: 100%;
    overflow: auto;

    thead {
      &:before {
        content: '';
        position: absolute;
        left: 0;
        bottom: 100%;
        width: 100%;
        height: 20rem;
        background-color: white;
      }
    }

    tr > *:first-child {
      position: sticky;
      left: 0;
      background-color: inherit;

      &:before {
        content: '';
        position: absolute;
        left: -1px;
        top: 0;
        z-index: -2;
        width: calc(100% + 2px);
        height: 100%;
        background-color: white;
      }

      &:after {
        content: '';
        position: absolute;
        left: -1px;
        top: 0;
        z-index: -1;
        width: calc(100% + 2px);
        height: 100%;
        background-color: inherit;
      }
    }
  }
}