.main {
  margin: 4rem auto 10rem auto;
}

.title {
  margin-bottom: 5rem;
  font-size: 6rem;
  text-align: center;
}

.list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5rem;

  &:not(:last-child) {
    margin-bottom: 10rem;
  }
}

.tabs {
  justify-content: center;
  margin: 5rem 0;
}

@media (max-width: 48em) {
  .main {
    margin: 12rem auto;
  }

  .title {
    margin-bottom: 6rem;
    font-size: 7rem;
  }

  .list {
    grid-template-columns: 1fr;
  }
}