section.main {
  margin-top: 6rem;
  margin-bottom: 6rem;
}

.title {
  margin-bottom: 4rem;
  font-weight: 700;
  font-size: 4rem;
  text-align: center;
}

.games {
  display: flex;
  flex-direction: column;
  gap: 6rem;
  margin-top: 8rem;
}

.roundTitle {
  grid-column: 1 / -1;
  font-size: 5rem;
  text-align: center;
}

.round {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5rem;

  &:not(:last-child) {
    margin-bottom: 6rem;
  }
}

.tabs {
  margin: 5rem 0;
}

@media (max-width: 48em) {
  section.main {
    margin-top: 0;
    margin-bottom: 12rem;
  }


  .title {
    font-size: 5rem;
  }

  .table {
    margin: 0 -4rem;
  }

  .games {}

  .roundTitle {
    margin-bottom: 2rem;
    font-size: 6rem;
  }

  .round {
    grid-template-columns: 1fr;
    gap: 3rem;
  }

  .tabs {
    margin: 5rem -4rem;
  }
}