@font-face {
    font-family: 'Vintage Jersey';
    src: local('Vintage Jersey Regular'), local('Vintage-Jersey-Regular'),
        url('VintageJersey-Regular.woff2') format('woff2'),
        url('VintageJersey-Regular.woff') format('woff'),
        url('VintageJersey-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }