.main {
  display: flex;
  flex-direction: column;
  gap: 6rem;
  width: 40%;
  margin: 0 auto;
  padding: 2rem;
}

@media (max-width: 48em) {
  .main {
    display: flex;
    flex-direction: column;
    gap: 6rem;
    width: 100%;
    padding: 2rem;
  }
}