.main {
  position: relative;
}

.login {
  position: absolute;
  right: -3rem;
  top: 1rem;
  transform: scaleY(2) scaleX(1);
  opacity: 0;
}

.btn {
  display: flex;
  align-items: center;
  gap: 1rem;
}

@media (max-width: 48em) {
  .main {
  }

  .login {
    right: -5rem;
    top: 1rem;
    transform: scaleY(2) scaleX(.7);
  }

  .btn {
    gap: 1.4rem;

    > img {
      width: 3.4rem;
      height: 3.4rem;
    }
  }
}